.flex-align(@dir: row, @justify: center, @wrap: nowrap) {
    display: flex;
    flex-direction: @dir;
    justify-content: @justify;
    flex-wrap: @wrap;
}

.button(@color: @secondary-color, @bg-color: @primary-color) {
    color: @color;
    background-color: @bg-color;


    // .button:hover 
    &:hover {
        // flip colors used in button.
        color: @bg-color;
        background-color: @color;
    }
}

.pad-mobile(@left: 5%, @right: 5%) {
    padding-left: @left;
    padding-right: @right;
}

.text-center() {
    text-align: center;
}