// colors
@primary-color: @hot-pink;

@hot-pink: hsl(322, 100%, 66%);
@lily-white: hsl(193, 100%, 96%);
@regent-gray: hsl(208, 11%, 55%);

// fonts

@font-body: 1.8rem;
@heading-stack: @poppins-stack;
@body-stack: @open-sans-stack;
@cta-stack: @open-sans-stack;


@open-sans-stack: 'Open Sans', sans-serif;
@poppins-stack: 'Poppins', sans-serif;