//-- colors ---//
@primary-color: @hot-pink;
@secondary-color: @lily-white;
@alt-color: @lily-white;
@primary-font-color: @daintree;
@secondary-font-color: @lily-white;



@hot-pink: hsl(322, 100%, 66%);
@lily-white: hsl(193, 100%, 96%);
@regent-gray: hsl(208, 11%, 55%);
@daintree: hsl(192, 100%, 9%);

//---fonts---//

@font-body: 1.8rem;
@heading-weight: 600;
@body-weight: 400;
@cta-weight: 700;

@heading-stack: @poppins-stack;
@body-stack: @open-sans-stack;
@cta-stack: @open-sans-stack;


@open-sans-stack: 'Open Sans', sans-serif;
@poppins-stack: 'Poppins', sans-serif;

//-- custom variables --//

// design widths:
// @extra-small-mobile: ~'(min-width: 12.500em)'; // min 200px min screen width.
/** MVP -> first target mobile screen size 23.438em or 375px **/
@mvp-mobile: ~'(max-width: 23.438em)'; // maximum of 375px.
@mobile: ~'(min-width: 23.500em)'; // minimum of 376px
// 25.875em = 414px width
@tablet: ~'(min-width: 48.000em)'; // tablet 768px size. 
/** figuring out how to implement. @tablet **/

@lg-desktop: ~'(max-width: 90em)';
// lg-desktop sized 1440px or 90em.